{% extends "template.html" %}
{% block content %}

<center>
  {% if msg %}
    <div class="alert alert-warning alert-dismissible fade show col-4" role="alert">
      {{msg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  <div id="globalQuestionPanel"></div>
  <button type="button" class="btn btn-primary" id="startGlobalButton" value="Start" onclick="startGame();">Start Game!</button>

  <a href="/leaderboard"><button class="btn btn-info" style="display:none;" id="showResults">Show Results</button></a><br/>
  <br/>
  <button type="button" class="btn btn-primary" id="PAGlobalButton" value="Start" style="display:none;" onclick="startGame();">Play Again!</button>
  <br/><br/>
  <a href="/"><button type="button" class="btn btn-light">Back</button></a>
</center>

<script type="text/javascript">
  $(".alert").alert();
</script>
<script type="text/javascript">{% include "js/play.js" %}</script>
{% endblock content %}
